fastapi[standard]
fastapi-pagination
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
sqlmodel
aiosqlite
alembic
asyncpg
psycopg2-binary 
pyjwt 
passlib[bcrypt]
email-validator
Faker
fastapi-mail
pytest
pytest-cov
pytest-mock
beautifulsoup4
redis
pillow
numpy