{% extends "partials/base_email.html" %}

{% block page_title %}Verify your email address{% endblock page_title %}

{% block content %}
<tr>
  <td class="email-body" width="100%">
    <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
      <!-- Body content -->
      <tr>
        <td class="content-cell">
          <h1>Hi {{name}},</h1>
          <p>Thanks for signing up for Canvas! We're excited to have you as an early user.</p>
          <!-- Action -->
          <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
                <div>
                  <a href="{{action_url}}" target="_blank" class="button button--blue">Verify Email</a>
                </div>
              </td>
            </tr>
          </table>

          <p>This link will expire in 1 hour. If it has expired, try to
            <a target="_blank" href="{{action_resend_url}}">request a new verification email
            </a>.
          </p>
          <p>Thanks,<br>The Canvas Team</p>

          <!-- Sub copy -->
          <table class="body-sub">
            <tr>
              <td>
                <p class="sub">If you’re having trouble clicking the button, copy and paste the URL below into
                  your web browser.
                </p>
                <p class="sub"><a href="{{action_url}}" target="_blank">{{action_url}}</a></p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
{% endblock content %}